pip
bump2version
wheel
watchdog
flake8
coverage
Sphinx
twine
pytest<8.1.0
pytest-runner
pytest-cov
numpy>=1.23.0,<2
scipy>=1.5.0
matplotlib<=3.7
urllib3
deepdiff
pydata-sphinx-theme
autodocsumm>=0.2.14
soundfile>=0.11.0
sofar>=1.2.0
nbmake>=0.7.0
ipykernel
nbsphinx
nbsphinx-link
sphinx-gallery
pyfar>=0.6.9
sounddevice
pre-commit
ipympl
sphinx-design
sphinx-favicon
watermark
